.cards{
    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: wrap;
}

.onecard{
    margin: 20px;
}
.forflex{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    
}


.addButton{
    display: flex;
    justify-content: center;
    align-items: center;
    color:aqua;
}

.icon{
    height: 200px;
}