.cards{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.purchasebtn{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}


.addButton{
    display: flex;
    justify-content: center;
    align-items: center;
    color:aqua;
}

.icon{
    height: 200px;
}


.prodimage{
    height:auto;
    width: auto;
    display: flex;
    justify-content: center;

}